### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [37]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [38]:
# Calculate the total number of schools
total_schools = school_data['School ID'].count()

# Calculate the total number of students
total_students = student_data['Student ID'].count()

# Calculate the total budget
total_budget = school_data['budget'].sum()

# Calculate the average maths score
avg_math_score = student_data['maths_score'].mean()

# Calculate the average reading score
avg_reading_score = student_data['reading_score'].mean()

# Calculate the percentage of students with a passing maths score (50 or greater)
passing_math_count = student_data[student_data['maths_score'] >= 50]['Student ID'].count()
passing_math_percentage = passing_math_count / float(total_students) * 100

# Calculate the percentage of students with a passing reading score (50 or greater)
passing_reading_count = student_data[student_data['reading_score'] >= 50]['Student ID'].count()
passing_reading_percentage = passing_reading_count / float(total_students) * 100

# Calculate the percentage of students who passed maths and reading (% Overall Passing)
overall_passing_count = student_data[(student_data['maths_score'] >= 50) & 
                                    (student_data['reading_score'] >= 50)]['Student ID'].count()
overall_passing_percentage = overall_passing_count / float(total_students) * 100

# Create a Data Frame to hold the above results
district_summary = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [avg_math_score],
    'Average Reading Score': [avg_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [overall_passing_percentage]
})

# Optional: Give the displayed Data cleaner formatting
district_summary['Total Students'] = district_summary['Total Students'].map('{:,}'.format)
district_summary['Total Budget'] = district_summary['Total Budget'].map('${:,.2f}'.format)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map('{:.1f}'.format)
district_summary['Average Reading Score'] = district_summary['Average Reading Score'].map('{:.1f}'.format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map('{:.0f}%'.format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map('{:.0f}%'.format)
district_summary['% Overall Passing'] = district_summary['% Overall Passing'].map('{:.0f}%'.format)

display(district_summary)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.3,70.0,86%,84%,73%

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [39]:
# Calculate the per student budget
school_data['Per Student Budget'] = school_data['budget'] / school_data['size']

# Calculate the average maths score per school
avg_math_score = school_data_complete.groupby(['school_name'])['maths_score'].mean().reset_index()

# Calculate the average reading score per school
avg_reading_score = school_data_complete.groupby(['school_name'])['reading_score'].mean().reset_index()

# Calculate the percentage of students with a passing maths score (50 or greater) per school
passing_math = school_data_complete[school_data_complete['maths_score'] >= 50].groupby(['school_name'])['Student ID'].count().reset_index()
passing_math = passing_math.rename(columns={'Student ID': 'Passing Math Count'})

# Calculate the percentage of students with a passing reading score (50 or greater) per school
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 50].groupby(['school_name'])['Student ID'].count().reset_index()
passing_reading = passing_reading.rename(columns={'Student ID': 'Passing Reading Count'})

# Calculate the percentage of students who passed maths and reading (% Overall Passing) per school
overall_passing = school_data_complete[(school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score'] >= 50)].groupby(['school_name'])['Student ID'].count().reset_index()
overall_passing = overall_passing.rename(columns={'Student ID': 'Overall Passing Count'})

# Merge the calculated values into the schools dataframe
school_summary = pd.merge(school_data, avg_math_score, on='school_name')
school_summary = pd.merge(school_summary, avg_reading_score, on='school_name')
school_summary = pd.merge(school_summary, passing_math, on='school_name')
school_summary = pd.merge(school_summary, passing_reading, on='school_name')
school_summary = pd.merge(school_summary, overall_passing, on='school_name')

# Calculate the percentages
school_summary['% Passing Math'] = school_summary['Passing Math Count'] / school_summary['size'] * 100
school_summary['% Passing Reading'] = school_summary['Passing Reading Count'] / school_summary['size'] * 100
school_summary['% Overall Passing'] = school_summary['Overall Passing Count'] / school_summary['size'] * 100

# Reorder columns
school_summary = school_summary[[
    'school_name',
    'type',
    'size',
    'budget',
    'Per Student Budget',
    'maths_score',
    'reading_score',
    '% Passing Math',
    '% Passing Reading',
    '% Overall Passing'
]]

# Rename Columns
school_summary = school_summary.rename(columns={
    'school_name': 'School Name',
    'type': 'School Type',
    'size': 'Total Students',
    'budget': 'Total School Budget',
    'maths_score': 'Average Maths Score',
    'reading_score': 'Average Reading Score'
})

# Optional: give the displayed data cleaner formatting
school_summary['Total Students'] = school_summary['Total Students'].map('{:,}'.format)
school_summary['Total School Budget'] = school_summary['Total School Budget'].map('${:,.2f}'.format)
school_summary['Per Student Budget'] = school_summary['Per Student Budget'].map('${:,.2f}'.format)
school_summary['Average Maths Score'] = school_summary['Average Maths Score'].map('{:.1f}'.format)
school_summary['Average Reading Score'] = school_summary['Average Reading Score'].map('{:.1f}'.format)
school_summary['% Passing Math'] = school_summary['% Passing Math'].map('{:.0f}%'.format)
school_summary['% Passing Reading'] = school_summary['% Passing Reading'].map('{:.0f}%'.format)
school_summary['% Overall Passing'] = school_summary['% Overall Passing'].map('{:.0f}%'.format)

school_summary = school_summary.set_index('School Name')
display(school_summary)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Huang High School,Government,"2,917","$1,910,635.00",$655.00,68.9,68.9,82%,81%,67%
Figueroa High School,Government,"2,949","$1,884,411.00",$639.00,68.7,69.1,82%,83%,68%
Shelton High School,Independent,"1,761","$1,056,600.00",$600.00,72.0,70.3,92%,87%,79%
Hernandez High School,Government,"4,635","$3,022,020.00",$652.00,68.9,69.2,81%,82%,66%
Griffin High School,Independent,"1,468","$917,500.00",$625.00,71.8,71.2,91%,88%,81%
Wilson High School,Independent,"2,283","$1,319,574.00",$578.00,69.2,68.9,83%,81%,67%
Cabrera High School,Independent,"1,858","$1,081,356.00",$582.00,71.7,71.4,91%,89%,81%
Bailey High School,Government,"4,976","$3,124,928.00",$628.00,72.4,71.0,92%,87%,80%
Holden High School,Independent,427,"$248,087.00",$581.00,72.6,71.7,90%,89%,79%
Pena High School,Independent,962,"$585,858.00",$609.00,72.1,71.6,92%,87%,79%
Wright High School,Independent,"1,800","$1,049,400.00",$583.00,72.0,71.0,92%,87%,80%
Rodriguez High School,Government,"3,999","$2,547,363.00",$637.00,72.0,70.9,91%,87%,79%
Johnson High School,Government,"4,761","$3,094,650.00",$650.00,68.8,69.0,82%,82%,67%
Ford High School,Government,"2,739","$1,763,916.00",$644.00,69.1,69.6,82%,82%,67%
Thomas High School,Independent,"1,635","$1,043,130.00",$638.00,69.6,69.8,84%,83%,69%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [40]:
# Sort the DataFrame by the % Overall Passing column in descending order
top_schools = school_summary.sort_values('% Overall Passing', ascending=False)

# Display the top five performing schools
display(top_schools.head())

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Griffin High School,Independent,"1,468","$917,500.00",$625.00,71.8,71.2,91%,88%,81%
Cabrera High School,Independent,"1,858","$1,081,356.00",$582.00,71.7,71.4,91%,89%,81%
Bailey High School,Government,"4,976","$3,124,928.00",$628.00,72.4,71.0,92%,87%,80%
Wright High School,Independent,"1,800","$1,049,400.00",$583.00,72.0,71.0,92%,87%,80%
Shelton High School,Independent,"1,761","$1,056,600.00",$600.00,72.0,70.3,92%,87%,79%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [41]:
# Sort the DataFrame by the % Overall Passing column in ascending order
bottom_schools = school_summary.sort_values('% Overall Passing', ascending=True)

# Display the bottom five performing schools
display(bottom_schools.head())

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Hernandez High School,Government,"4,635","$3,022,020.00",$652.00,68.9,69.2,81%,82%,66%
Huang High School,Government,"2,917","$1,910,635.00",$655.00,68.9,68.9,82%,81%,67%
Wilson High School,Independent,"2,283","$1,319,574.00",$578.00,69.2,68.9,83%,81%,67%
Johnson High School,Government,"4,761","$3,094,650.00",$650.00,68.8,69.0,82%,82%,67%
Ford High School,Government,"2,739","$1,763,916.00",$644.00,69.1,69.6,82%,82%,67%

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [48]:
# Create a pandas series for each year
year_nine = school_data_complete[school_data_complete['year'] == 9]
year_ten = school_data_complete[school_data_complete['year'] == 10]
year_eleven = school_data_complete[school_data_complete['year'] == 11]
year_twelve = school_data_complete[school_data_complete['year'] == 12]

# Group each series by school
year_nine_avg_maths_scores = year_nine.groupby(['school_name'])['maths_score'].mean()
year_ten_avg_maths_scores = year_ten.groupby(['school_name'])['maths_score'].mean()
year_eleven_avg_maths_scores = year_eleven.groupby(['school_name'])['maths_score'].mean()
year_twelve_avg_maths_scores = year_twelve.groupby(['school_name'])['maths_score'].mean()

# Combine the series into a DataFrame
maths_scores_by_year = pd.DataFrame({
    'Year 9': year_nine_avg_maths_scores,
    'Year 10': year_ten_avg_maths_scores,
    'Year 11': year_eleven_avg_maths_scores,
    'Year 12': year_twelve_avg_maths_scores
})

# Optional: Give the displayed data cleaner formatting
maths_scores_by_year.index.name = None
maths_scores_by_year = maths_scores_by_year[['Year 9', 'Year 10', 'Year 11', 'Year 12']]
maths_scores_by_year['Year 9'] = maths_scores_by_year['Year 9'].map('{:.1f}'.format)
maths_scores_by_year['Year 10'] = maths_scores_by_year['Year 10'].map('{:.1f}'.format)
maths_scores_by_year['Year 11'] = maths_scores_by_year['Year 11'].map('{:.1f}'.format)
maths_scores_by_year['Year 12'] = maths_scores_by_year['Year 12'].map('{:.1f}'.format)

# Display
display(maths_scores_by_year)

                      Year 9 Year 10 Year 11 Year 12
Bailey High School      72.5    71.9    72.4    72.7
Cabrera High School     72.3    72.4    71.0    70.6
Figueroa High School    68.5    68.3    68.8    69.3
Ford High School        69.0    69.4    69.2    68.6
Griffin High School     72.8    71.1    71.7    71.5
Hernandez High School   68.6    68.9    69.2    69.0
Holden High School      70.5    75.1    71.6    73.4
Huang High School       69.1    68.5    69.4    68.6
Johnson High School     69.5    68.0    68.6    69.3
Pena High School        72.0    72.4    72.5    71.2
Rodriguez High School   71.9    71.8    72.4    72.2
Shelton High School     72.9    72.5    70.1    72.3
Thomas High School      69.2    70.1    69.7    69.4
Wilson High School      69.2    69.5    68.4    69.8
Wright High School      71.7    72.2    73.3    70.8

## Reading Score by Year

* Perform the same operations as above for reading scores

In [49]:
# Create a pandas series for each year
year_nine = school_data_complete[school_data_complete['year'] == 9]
year_ten = school_data_complete[school_data_complete['year'] == 10]
year_eleven = school_data_complete[school_data_complete['year'] == 11]
year_twelve = school_data_complete[school_data_complete['year'] == 12]

# Group each series by school
year_nine_avg_reading_scores = year_nine.groupby(['school_name'])['reading_score'].mean()
year_ten_avg_reading_scores = year_ten.groupby(['school_name'])['reading_score'].mean()
year_eleven_avg_reading_scores = year_eleven.groupby(['school_name'])['reading_score'].mean()
year_twelve_avg_reading_scores = year_twelve.groupby(['school_name'])['reading_score'].mean()

# Combine the series into a DataFrame
reading_scores_by_year = pd.DataFrame({
    'Year 9': year_nine_avg_reading_scores,
    'Year 10': year_ten_avg_reading_scores,
    'Year 11': year_eleven_avg_reading_scores,
    'Year 12': year_twelve_avg_reading_scores
})

# Optional: Give the displayed data cleaner formatting
reading_scores_by_year.index.name = None
reading_scores_by_year = reading_scores_by_year[['Year 9', 'Year 10', 'Year 11', 'Year 12']]
reading_scores_by_year['Year 9'] = reading_scores_by_year['Year 9'].map('{:.1f}'.format)
reading_scores_by_year['Year 10'] = reading_scores_by_year['Year 10'].map('{:.1f}'.format)
reading_scores_by_year['Year 11'] = reading_scores_by_year['Year 11'].map('{:.1f}'.format)
reading_scores_by_year['Year 12'] = reading_scores_by_year['Year 12'].map('{:.1f}'.format)

# Display

display(reading_scores_by_year)

                      Year 9 Year 10 Year 11 Year 12
Bailey High School      70.9    70.8    70.3    72.2
Cabrera High School     71.2    71.3    71.2    71.9
Figueroa High School    70.3    67.7    69.2    69.1
Ford High School        69.6    69.0    70.7    68.8
Griffin High School     72.0    70.7    72.4    69.4
Hernandez High School   68.5    70.6    68.4    69.2
Holden High School      71.6    71.1    73.3    70.5
Huang High School       68.7    69.5    68.7    68.7
Johnson High School     68.7    69.3    70.0    68.0
Pena High School        70.9    72.3    71.7    71.5
Rodriguez High School   70.9    70.1    71.4    71.4
Shelton High School     70.7    69.9    71.2    69.1
Thomas High School      69.7    69.7    70.7    68.7
Wilson High School      68.7    68.4    68.8    69.9
Wright High School      71.8    71.4    70.5    69.8

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [51]:
# Calculate the average spending per student for each school
school_data_complete['spending_per_student'] = school_data_complete['budget'] / school_data_complete['size']

# Define the spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ['<$585', '$585-630', '$630-645', '$645-680']

# Bin the spending data
school_data_complete['spending_range'] = pd.cut(school_data_complete['spending_per_student'], spending_bins, labels=spending_labels)

# Group by spending range
grouped_by_spending = school_data_complete.groupby('spending_range')

# Calculate the average math and reading scores and the percentage of students passing math and reading for each spending range
avg_math_score = grouped_by_spending['maths_score'].mean()
avg_reading_score = grouped_by_spending['reading_score'].mean()
percent_passing_math = grouped_by_spending.apply(lambda x: (x['maths_score'] >= 70).sum() / x.shape[0] * 100)
percent_passing_reading = grouped_by_spending.apply(lambda x: (x['reading_score'] >= 70).sum() / x.shape[0] * 100)
overall_passing_rate = (percent_passing_math + percent_passing_reading) / 2

# Combine the results into a DataFrame
scores_by_spending = pd.DataFrame({
    'Average Math Score': avg_math_score,
    'Average Reading Score': avg_reading_score,
    '% Passing Math': percent_passing_math,
    '% Passing Reading': percent_passing_reading,
    '% Overall Passing Rate': overall_passing_rate
})

# Optional: Give the displayed data cleaner formatting
scores_by_spending.index.name = 'Spending Ranges (Per Student)'
scores_by_spending = scores_by_spending[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing Rate']]
scores_by_spending['Average Math Score'] = scores_by_spending['Average Math Score'].map('{:.1f}'.format)
scores_by_spending['Average Reading Score'] = scores_by_spending['Average Reading Score'].map('{:.1f}'.format)
scores_by_spending['% Passing Math'] = scores_by_spending['% Passing Math'].map('{:.1f}%'.format)
scores_by_spending['% Passing Reading'] = scores_by_spending['% Passing Reading'].map('{:.1f}%'.format)
scores_by_spending['% Overall Passing Rate'] = scores_by_spending['% Overall Passing Rate'].map('{:.1f}%'.format)

# Display

display(scores_by_spending)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,70.9,70.4,52.4%,51.3%,51.9%
$585-630,72.2,71.0,55.1%,52.4%,53.8%
$630-645,70.1,70.0,50.6%,51.0%,50.8%
$645-680,68.9,69.1,49.0%,49.2%,49.1%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [53]:
# Define the size bins and labels
size_bins = [0, 1000, 2000, 5000]
size_labels = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

# Bin the size data
school_data_complete['size_range'] = pd.cut(school_data_complete['size'], size_bins, labels=size_labels)

# Group by size range
grouped_by_size = school_data_complete.groupby('size_range')

# Calculate the average math and reading scores and the percentage of students passing math and reading for each size range
avg_math_score = grouped_by_size['maths_score'].mean()
avg_reading_score = grouped_by_size['reading_score'].mean()
percent_passing_math = grouped_by_size.apply(lambda x: (x['maths_score'] >= 70).sum() / x.shape[0] * 100)
percent_passing_reading = grouped_by_size.apply(lambda x: (x['reading_score'] >= 70).sum() / x.shape[0] * 100)
overall_passing_rate = (percent_passing_math + percent_passing_reading) / 2

# Combine the results into a DataFrame
scores_by_size = pd.DataFrame({
    'Average Math Score': avg_math_score,
    'Average Reading Score': avg_reading_score,
    '% Passing Math': percent_passing_math,
    '% Passing Reading': percent_passing_reading,
    '% Overall Passing Rate': overall_passing_rate
})

# Optional: Give the displayed data cleaner formatting
scores_by_size.index.name = 'School Size'
scores_by_size = scores_by_size[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing Rate']]
scores_by_size['Average Math Score'] = scores_by_size['Average Math Score'].map('{:.1f}'.format)
scores_by_size['Average Reading Score'] = scores_by_size['Average Reading Score'].map('{:.1f}'.format)
scores_by_size['% Passing Math'] = scores_by_size['% Passing Math'].map('{:.1f}%'.format)
scores_by_size['% Passing Reading'] = scores_by_size['% Passing Reading'].map('{:.1f}%'.format)
scores_by_size['% Overall Passing Rate'] = scores_by_size['% Overall Passing Rate'].map('{:.1f}%'.format)

# Display

display(scores_by_size)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),72.2,71.6,55.9%,55.2%,55.6%
Medium (1000-2000),71.4,70.7,53.3%,51.9%,52.6%
Large (2000-5000),69.9,69.7,50.7%,50.3%,50.5%

## Scores by School Type

* Perform the same operations as above, based on school type

In [54]:
# Group by school type
grouped_by_type = school_data_complete.groupby('type')

# Calculate the average math and reading scores and the percentage of students passing math and reading for each school type
avg_math_score = grouped_by_type['maths_score'].mean()
avg_reading_score = grouped_by_type['reading_score'].mean()
percent_passing_math = grouped_by_type.apply(lambda x: (x['maths_score'] >= 70).sum() / x.shape[0] * 100)
percent_passing_reading = grouped_by_type.apply(lambda x: (x['reading_score'] >= 70).sum() / x.shape[0] * 100)
overall_passing_rate = (percent_passing_math + percent_passing_reading) / 2

# Combine the results into a DataFrame
scores_by_type = pd.DataFrame({
    'Average Math Score': avg_math_score,
    'Average Reading Score': avg_reading_score,
    '% Passing Math': percent_passing_math,
    '% Passing Reading': percent_passing_reading,
    '% Overall Passing Rate': overall_passing_rate
})

# Optional: Give the displayed data cleaner formatting
scores_by_type.index.name = 'School Type'
scores_by_type = scores_by_type[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing Rate']]
scores_by_type['Average Math Score'] = scores_by_type['Average Math Score'].map('{:.1f}'.format)
scores_by_type['Average Reading Score'] = scores_by_type['Average Reading Score'].map('{:.1f}'.format)
scores_by_type['% Passing Math'] = scores_by_type['% Passing Math'].map('{:.1f}%'.format)
scores_by_type['% Passing Reading'] = scores_by_type['% Passing Reading'].map('{:.1f}%'.format)
scores_by_type['% Overall Passing Rate'] = scores_by_type['% Overall Passing Rate'].map('{:.1f}%'.format)

# Display

display(scores_by_type)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Government,70.0,69.8,50.8%,50.5%,50.6%
Independent,71.1,70.5,52.9%,51.6%,52.2%